{{#> admin/layout css="messages" }}
    <section class="exchanges">
      {{#each exchanges as |exchange|}}
        <section class="exchange">
          <time datetime={{exchange.first.created_at}}>{{exchange.first.formatted_created_at}}</time>
{{!-- this weirdness is because the pre formatting is showing indentation even when the message lacks it --}}
{{> admin/_message direction="incoming" incoming=true message=exchange.first}}
{{#each exchange.responses as |response|}}
{{> admin/_message direction="outgoing" message=response}}
{{/each}}
        </section>
      {{/each}}
    </section>
{{/admin/layout}}