<nav>
  <ul>
    <li>
      <a href="/">
        root
      </a>
    </li>
    <li>
      <a href="/admin/messages">
        messages
      </a>
    </li>
    <li>
      <a href="/admin/numbers">
        numbers
      </a>
    </li>
  </ul>
</nav>