{{#> layout }}
<p>
    did u kno <a href="https://web.archive.org/web/20190630175528/https://winnipegtransit.com/en/schedules-maps-tools/transittools/bustxt-user-guide/">bustxt</a> was killed in the City of Winnipeg’s 2020 austerity budget to <a href="https://legacy.winnipeg.ca/interhom/Budget/2020Budget/pdfs/2020-Multi-year-Budget-Presentation_Transit_20191113.pdf">save $50k/y</a> (page 10) while the <a href="https://www.cbc.ca/news/canada/manitoba/officer-involved-shooting-winnipeg-1.7072134">murderous police department</a> gets well over $300mil/y despite <a href="https://www.thestar.com/news/gta/police-spending-has-no-consistent-correlation-with-lower-crime-rates-new-canadian-study-says/article_eedff7f4-b3b9-11ee-81a9-ffea73dd6f71.html">not increasing safety</a>?
</p>
<p>
    this is <a href="https://github.com/backspace/textabus">open source</a> and invitation-only to keep costs down, but maybe it can become a bigger operation if there’s interest
</p>
<p>
    messages are logged for debugging, eventually anonymisation and purging will happen but not for now!
</p>
{{/layout}}