{{#> layout }}
<h2>
  changelog
</h2>
<h3>
  2024-01-15
</h3>
<h4>
  fixes
</h4>
<ul>
  <li>
    added normalisation of strings of whitespace to a single space
  </li>
</ul>
<h3>
  help: 2024-01-14
</h3>
<h4>
  enhancements
</h4>
<ul>
  <li>
    added optional prefix for
    <code>
      times
    </code>
    command
  </li>
  <li>
    added
    <code>
      help
    </code>
    command
  </li>
</ul>
<h4>
  fixes
</h4>
<ul>
  <li>
    commands are downcased before processing (so phone autocaps is ignored)
  </li>
  <li>
    404s from the stop schedules API are handled
  </li>
</ul>
<h3>
  stops: 2024-01-13
</h3>
<h4>
  enhancements
</h4>
<ul>
  <li>
    added
    <code>
      stops [location]
    </code>
    command
  </li>
  <li>
    rudimentary web interface to test commands
  </li>
</ul>
<h4>
  fixes
</h4>
<ul>
  <li>
    whitespace around commands is trimmed so
      “
    <code>
      10064
    </code>
    ”
      now works
  </li>
</ul>
{{/layout}}