{{#> layout }}
<h2>
  changelog
</h2>

<h3>
  2025-06-08
</h3>
<h4>
  chore
</h4>
<ul>
  <li>
    updated to consume Winnipeg Transit’s <a href="https://api.winnipegtransit.com/home/api/v4">v4 API</a>
  </li>
</ul>

<h3>
  2024-02-16
</h3>
<h4>
  enhancements
</h4>
<ul>
  <li>
    added <code>settings clock</code> to toggle 12/24 hour clock
  </li>
</ul>

<h3>
  2024-01-18
</h3>
<h4>
  enhancements
</h4>
<ul>
  <li>
    progress indicator when querying on web
  </li>
  <li>
    <a href="/about">about</a> page
  </li>
  <li>
    favicon and manifest for <code>add to home</code> support
  </li>
  <li>
    changed <code>delay</code> to <code>late</code> in times responses
  </li>
  <li>
    <code>help</code> command and delay explanation in web documentation
  </li>
</ul>

<h3>
  2024-01-16
</h3>
<h4>
  enhancement
</h4>
<ul>
  <li>
    retro UI, is it annoying? 😝
  </li>
</ul>

<h3>
  2024-01-15
</h3>
<h4>
  fixes
</h4>
<ul>
  <li>
    added normalisation of strings of whitespace to a single space
  </li>
</ul>

<h3>
  help: 2024-01-14
</h3>
<h4>
  enhancements
</h4>
<ul>
  <li>
    added optional prefix for
    <code>
      times
    </code>
    command
  </li>
  <li>
    added
    <code>
      help
    </code>
    command
  </li>
</ul>
<h4>
  fixes
</h4>
<ul>
  <li>
    commands are downcased before processing (so phone autocaps is ignored)
  </li>
  <li>
    404s from the stop schedules API are handled
  </li>
</ul>
<h3>
  stops: 2024-01-13
</h3>
<h4>
  enhancements
</h4>
<ul>
  <li>
    added
    <code>
      stops [location]
    </code>
    command
  </li>
  <li>
    rudimentary web interface to test commands
  </li>
</ul>
<h4>
  fixes
</h4>
<ul>
  <li>
    whitespace around commands is trimmed so
      “
    <code>
      10064
    </code>
    ”
      now works
  </li>
</ul>
{{/layout}}