<html>
  <head>
    <title>
      textabus
    </title>

    <link rel="manifest" href="/assets/manifest.json">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/icons/site.webmanifest">
    <link rel="shortcut icon" href="/assets/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/assets/css/font.css">
    <link rel="stylesheet" href="/assets/css/layout.css">

    <script src="/assets/js/layout.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{#if css}}
      <link rel="stylesheet" href="/assets/css/{{ css }}.css">
    {{/if}}

    {{#if js}}
      <script src="/assets/js/{{ js }}.js"></script>
    {{/if}}
  </head>
  <body>
    <h1>
      <a href="/">textabus</a>
    </h1>

    {{> nav}}
    {{> @partial-block }}
  </body>
</html>