{{#> layout css="root" js="root" }}
  <p>
    <form action="/result" method="get" data-form>
      <input id="body" type="text" name="body" autofocus data-body />
      <input type="submit" value="text" data-submit />
    </form>
    <output for="body" id="repl" rows="20"></output>
  </p>

  <h2>
    usage
  </h2>

  <h3>
    <code>
      times
    </code>
  </h3>
  <p>
    <em>
      This is the default command so
      <code>
        times
      </code>
      is optional.
    </em>
  </p>
  <p>
    Returns the next buses for a stop, optionally narrowed to particular routes.
  </p>
  <p>
    A bus being 3min+ behind or 1min+ ahead of schedule is noted.
  </p>
  <p>
    Examples:
    <ul data-commands>
      <li>
        <code>
          10619
        </code>
      </li>
      <li>
        <code>
          10619 BLUE 16
        </code>
      </li>
      <li>
        <code>
          times 10619
        </code>
      </li>
    </ul>
  </p>

  <h3>
    <code>
      stops
    </code>
  </h3>
  <p>
    Returns stops and routes within 500m of a location. Examples:
    <ul data-commands>
      <li>
        <code>
          stops 245 smith
        </code>
      </li>
      <li>
        <code>
          stops mcp@lei
        </code>
      </li>
      <li>
        <code>
          stops union station
        </code>
      </li>
    </ul>
  </p>

  <h3>
    <code>
      help
    </code>
  </h3>
  <p>
    Returns command listing and documentation link.
    <ul data-commands>
      <li>
        <code>
          help
        </code>
      </li>
    </ul>
  </p>
{{/layout}}